openapi: 3.1.0
info:
  title: Yomibiyori API
  version: 1.0.0
  description: >
    Yomibiyori is a poetic social network where people compose verses with AI.
    This document lists the REST API endpoints that are currently implemented.
servers:
  - url: https://api.yomibiyori.app/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Local Development
paths:
  /auth/signup:
    post:
      tags: [auth]
      summary: Sign up via Supabase
      description: >
        Proxy Supabase Auth sign up and synchronise the resulting user with the local database.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpResponse'
        '400':
          description: Supabase rejected the sign-up request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Local email conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Supabase service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/login:
    post:
      tags: [auth]
      summary: Login via Supabase
      description: Authenticate the user via Supabase and return a session token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: User authenticated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Supabase rejected the login request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Supabase service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/oauth/google:
    get:
      tags: [auth]
      summary: Get Google OAuth authorization URL
      description: >
        Returns the Supabase Auth Google OAuth URL for client-side redirect flow.
        Client should redirect to this URL, and after successful authentication,
        Supabase will redirect back with access_token and refresh_token in the URL fragment.
      parameters:
        - name: redirect_to
          in: query
          required: false
          description: Optional redirect URL after authentication
          schema:
            type: string
      responses:
        '200':
          description: Google OAuth authorization URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthUrlResponse'
        '503':
          description: Supabase service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/oauth/apple:
    get:
      tags: [auth]
      summary: Get Apple OAuth authorization URL
      description: >
        Returns the Supabase Auth Apple OAuth URL for client-side redirect flow.
        Client should redirect to this URL, and after successful authentication,
        Supabase will redirect back with access_token and refresh_token in the URL fragment.
      parameters:
        - name: redirect_to
          in: query
          required: false
          description: Optional redirect URL after authentication
          schema:
            type: string
      responses:
        '200':
          description: Apple OAuth authorization URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthUrlResponse'
        '503':
          description: Supabase service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/oauth/callback:
    post:
      tags: [auth]
      summary: Process OAuth callback and sync user
      description: >
        Accept access_token from OAuth callback, verify it with Supabase, and synchronise
        the user to the local database. This endpoint is optional - clients can also directly
        use the tokens and call /auth/profile/sync.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthCallbackRequest'
      responses:
        '200':
          description: OAuth authentication successful and user synchronized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthCallbackResponse'
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Supabase service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/profile:
    get:
      tags: [auth]
      summary: Get current user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Local profile for the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Profile not found locally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [auth]
      summary: Update user profile
      description: Update the authenticated user's profile (e.g., display name)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags: [auth]
      summary: Delete user account
      description: Delete the authenticated user's account and all associated data.
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Account deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Profile not found locally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/profile/sync:
    post:
      tags: [auth]
      summary: Synchronise profile from Supabase
      description: >
        Fetch the Supabase Auth record using the service role key and update the local profile.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Synchronised profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Supabase user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Supabase service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token
      description: >
        Exchange a refresh_token for a new access token (and optional refresh token).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Refreshed session token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionToken'
        '400':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/password-reset:
    post:
      tags: [auth]
      summary: Request password reset email
      description: >
        Request Supabase to send a recovery email. Returns success even if the address is not registered.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Password reset email dispatched (or silently ignored)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordResetResponse'
        '400':
          description: Supabase rejected the reset request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Supabase service unreachable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/password-update:
    post:
      tags: [auth]
      summary: Update password with access token
      description: >
        Update the authenticated user's password by forwarding the request to Supabase Auth.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePasswordRequest'
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePasswordResponse'
        '400':
          description: Supabase rejected the password update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Supabase service unreachable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/password-update-with-token:
    post:
      tags: [auth]
      summary: Verify recovery token and update password
      description: >
        Accept a recovery token (token_hash or access_token) from the password reset email, verify it with
        Supabase, and update the password without requiring an authenticated session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyTokenAndUpdatePasswordRequest'
      responses:
        '200':
          description: Password updated through recovery flow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePasswordResponse'
        '400':
          description: Supabase rejected the token or password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Supabase service unreachable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/tokens:
    post:
      tags: [notifications]
      summary: Register Expo push token
      description: Register or update an Expo push notification token for the authenticated user.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationTokenRequest'
      responses:
        '201':
          description: Token registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTokenResponse'
        '400':
          description: Invalid token payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /works:
    post:
      tags: [works]
      summary: Submit a work (lower verse / 下の句)
      description: >
        Authenticated users can submit one lower verse (shimo-no-ku, 7-7 syllables) per category
        and per day while the submission window is open. The lower verse should continue the
        upper verse (kami-no-ku, 5-7-5 syllables) provided by the theme to form a complete tanka (5-7-5-7-7)
        between 06:00 and 22:00 JST.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkCreate'
      responses:
        '201':
          description: Work accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Work'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/SubmissionWindowClosed'
        '409':
          description: Duplicate submission for this category today
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                alreadySubmitted:
                  value:
                    detail: You have already submitted a work today for this category
    get:
      tags: [works]
      summary: List works for a theme
      description: Returns works linked to the supplied theme ordered by recency or fair score.
      parameters:
        - name: theme_id
          in: query
          required: true
          description: Theme identifier
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results to return (1-200)
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: order_by
          in: query
          description: Sort order. Use `recent` (default) or `fair_score`.
          schema:
            type: string
            enum: [recent, fair_score]
            default: recent
      responses:
        '200':
          description: List of works
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Work'
        '404':
          description: Theme not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /works/me:
    get:
      tags: [works]
      summary: List works by authenticated user
      description: Returns works created by the authenticated user with optional theme filter.
      security:
        - bearerAuth: []
      parameters:
        - name: theme_id
          in: query
          required: false
          description: Optional theme identifier to filter works
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of works to return (1-200)
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          description: Number of works to skip before returning results
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Works created by the authenticated user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Work'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /works/me/summary:
    get:
      tags: [works]
      summary: Get work summary grouped by date
      description: Returns a breakdown of the authenticated user's works grouped by theme date with totals.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Summary of works grouped by date
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkDateSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /works/{work_id}/like:
    post:
      tags: [works]
      summary: Send gratitude (like) to a work
      description: Register a like for a work on behalf of the authenticated user.
      security:
        - bearerAuth: []
      parameters:
        - name: work_id
          in: path
          required: true
          description: Work identifier
          schema:
            type: string
      responses:
        '200':
          description: Like recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkLikeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Work not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Like already registered by this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /works/{work_id}/impression:
    post:
      tags: [works]
      summary: Record impression for a work
      description: >
        Track viewing events for a work to align Redis-backed ranking metrics. The optional viewer hash lets
        clients de-duplicate impressions without exposing raw identifiers, and contributes to unique viewer counts.
      parameters:
        - name: work_id
          in: path
          required: true
          description: Work identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkImpressionRequest'
      responses:
        '200':
          description: Impression recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkImpressionResponse'
        '404':
          description: Work not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /themes:
    get:
      tags: [themes]
      summary: List themes
      description: >
        Return themes ordered by date descending with optional category filter.
        Date-based filtering is not supported; unknown query parameters are ignored by the server.
      parameters:
        - name: category
          in: query
          required: false
          description: Category filter (e.g., '����', '�G��', '����', '���[���A')
          schema:
            type: string
          example: ����
        - name: limit
          in: query
          required: false
          description: Number of themes to return (1-100)
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          required: false
          description: Number of themes to skip before returning results
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Theme list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeListResponse'
  /themes/today:
    get:
      tags: [themes]
      summary: Get today's theme (upper verse / 上の句)
      description: >
        Return today's theme (upper verse in 5-7-5 format) for the current date in JST timezone.
        Users will create lower verses (7-7) to continue this theme and form a complete tanka.
        If a category is specified, returns the theme for that category. If no category is
        specified and multiple themes exist for different categories, returns the most recent.
      parameters:
        - name: category
          in: query
          required: false
          description: Category filter (e.g., '恋愛', '季節', '日常', 'ユーモア')
          schema:
            type: string
          example: 恋愛
      responses:
        '200':
          description: Today's theme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeResponse'
        '404':
          description: No theme found for today (or specified category)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ranking:
    get:
      tags: [ranking]
      summary: Retrieve ranking for a theme
      description: >
        Fetch ranking entries using Redis metrics when available (time-normalised fairness score),
        otherwise fall back to the persisted snapshot stored in PostgreSQL.
      parameters:
        - name: theme_id
          in: query
          required: true
          description: Theme identifier
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results to return (1-100)
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Ranking entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RankingEntry'
        '404':
          description: No ranking data for the theme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sponsor/profile:
    get:
      tags: [sponsor]
      summary: Get sponsor profile
      description: Return the sponsor profile associated with the authenticated user.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Sponsor profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Sponsor profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [sponsor]
      summary: Create sponsor profile
      description: Create a sponsor profile for the authenticated user and set their role to sponsor.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SponsorCreate'
      responses:
        '201':
          description: Sponsor profile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Sponsor profile already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [sponsor]
      summary: Update sponsor profile
      description: Update sponsor profile fields such as company name or contact email.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SponsorUpdate'
      responses:
        '200':
          description: Sponsor profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Sponsor profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sponsor/campaigns:
    post:
      tags: [sponsor]
      summary: Create sponsor campaign
      description: Create a new sponsor campaign for the authenticated sponsor.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreate'
      responses:
        '201':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Sponsor profile pending verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags: [sponsor]
      summary: List sponsor campaigns
      description: List campaigns for the authenticated sponsor.
      security:
        - bearerAuth: []
      parameters:
        - name: status_filter
          in: query
          required: false
          description: Filter by campaign status
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of campaigns to return (1-200)
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          description: Number of campaigns to skip before returning results
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Campaign list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sponsor/campaigns/{campaign_id}:
    get:
      tags: [sponsor]
      summary: Get sponsor campaign
      description: Return a specific campaign owned by the authenticated sponsor.
      security:
        - bearerAuth: []
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: Campaign identifier
          schema:
            type: string
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden for this sponsor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [sponsor]
      summary: Update sponsor campaign
      description: Update mutable fields on a sponsor campaign.
      security:
        - bearerAuth: []
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: Campaign identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignUpdate'
      responses:
        '200':
          description: Campaign updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden for this sponsor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [sponsor]
      summary: Delete sponsor campaign
      description: Delete a campaign owned by the authenticated sponsor.
      security:
        - bearerAuth: []
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: Campaign identifier
          schema:
            type: string
      responses:
        '204':
          description: Campaign deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden for this sponsor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sponsor/themes:
    post:
      tags: [sponsor]
      summary: Submit sponsor theme
      description: Submit a sponsor theme for review. Consumes 1 sponsor credit.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SponsorThemeCreate'
      responses:
        '201':
          description: Sponsor theme created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorThemeResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Insufficient sponsor credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden for this sponsor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Duplicate submission for the date/category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags: [sponsor]
      summary: List sponsor themes
      description: List themes submitted by the authenticated sponsor, with optional filters.
      security:
        - bearerAuth: []
      parameters:
        - name: campaign_id
          in: query
          required: false
          description: Filter by campaign ID
          schema:
            type: string
        - name: status_filter
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of themes to return (1-200)
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          description: Number of themes to skip before returning results
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Sponsor themes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorThemeListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sponsor/themes/{theme_id}:
    get:
      tags: [sponsor]
      summary: Get sponsor theme
      description: Retrieve a specific sponsor theme owned by the authenticated sponsor.
      security:
        - bearerAuth: []
      parameters:
        - name: theme_id
          in: path
          required: true
          description: Sponsor theme identifier
          schema:
            type: string
      responses:
        '200':
          description: Sponsor theme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorThemeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden for this sponsor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Sponsor theme not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [sponsor]
      summary: Update sponsor theme
      description: Update a sponsor theme prior to approval.
      security:
        - bearerAuth: []
      parameters:
        - name: theme_id
          in: path
          required: true
          description: Sponsor theme identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SponsorThemeUpdate'
      responses:
        '200':
          description: Sponsor theme updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorThemeResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden for this sponsor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Sponsor theme not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [sponsor]
      summary: Delete sponsor theme
      description: Delete a sponsor theme that belongs to the authenticated sponsor.
      security:
        - bearerAuth: []
      parameters:
        - name: theme_id
          in: path
          required: true
          description: Sponsor theme identifier
          schema:
            type: string
      responses:
        '204':
          description: Sponsor theme deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden for this sponsor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Sponsor theme not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sponsor/credits/transactions:
    get:
      tags: [sponsor]
      summary: List sponsor credit transactions
      description: Return all credit transactions for the authenticated sponsor (backward compatibility endpoint).
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Credit transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditTransaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /credit-purchase/purchase:
    post:
      tags: [sponsor]
      summary: Create Stripe Checkout session for credits
      description: Create a Stripe Checkout session to purchase sponsor credits.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditPurchaseCreate'
      responses:
        '201':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditPurchaseSessionResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Stripe not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credit-purchase/transactions:
    get:
      tags: [sponsor]
      summary: List sponsor credit transactions (primary)
      description: Return all credit transactions for the authenticated sponsor.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Credit transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditTransaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/review/themes:
    get:
      tags: [admin]
      summary: List sponsor themes pending review
      description: List sponsor themes for admin review with optional status filter.
      security:
        - bearerAuth: []
      parameters:
        - name: status_filter
          in: query
          required: false
          description: Filter by status (e.g., pending/approved/rejected/published)
          schema:
            type: string
            default: pending
        - name: limit
          in: query
          required: false
          description: Maximum number of themes to return (1-200)
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          description: Number of themes to skip before returning results
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Sponsor themes for review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorThemeListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/review/themes/{theme_id}/approve:
    post:
      tags: [admin]
      summary: Approve sponsor theme
      description: Approve a sponsor theme and register it for distribution.
      security:
        - bearerAuth: []
      parameters:
        - name: theme_id
          in: path
          required: true
          description: Sponsor theme identifier
          schema:
            type: string
      responses:
        '200':
          description: Theme approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeReviewResponse'
        '400':
          description: Theme already approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Theme not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/review/themes/{theme_id}/reject:
    post:
      tags: [admin]
      summary: Reject sponsor theme
      description: Reject a sponsor theme with a rejection reason.
      security:
        - bearerAuth: []
      parameters:
        - name: theme_id
          in: path
          required: true
          description: Sponsor theme identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThemeReviewRejectRequest'
      responses:
        '200':
          description: Theme rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeReviewResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Theme not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sponsor/themes/calendar:
    get:
      tags: [sponsor]
      summary: Get theme calendar
      description: >
        Returns a calendar showing which dates and categories have approved themes.
        This helps sponsors identify available slots for theme submissions.
        By default shows the next 30 days from today.
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          required: false
          description: Start date for calendar range (defaults to today)
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: false
          description: End date for calendar range (defaults to start_date + 30 days)
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Theme calendar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeCalendarResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/sponsors:
    get:
      tags: [admin]
      summary: List sponsors (admin)
      description: List sponsor profiles for administrative review with optional filters.
      security:
        - bearerAuth: []
      parameters:
        - name: verified
          in: query
          required: false
          description: Filter by verification status
          schema:
            type: boolean
        - name: search
          in: query
          required: false
          description: Search by company name or email (case-insensitive)
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of sponsors to return (1-200)
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          description: Number of sponsors to skip before returning results
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Sponsor list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/sponsors/{sponsor_id}:
    get:
      tags: [admin]
      summary: Get sponsor profile (admin)
      description: Return sponsor profile details for the specified sponsor.
      security:
        - bearerAuth: []
      parameters:
        - name: sponsor_id
          in: path
          required: true
          description: Sponsor identifier
          schema:
            type: string
      responses:
        '200':
          description: Sponsor profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Sponsor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/sponsors/{sponsor_id}/verification:
    patch:
      tags: [admin]
      summary: Update sponsor verification status
      description: Approve or revoke sponsor verification.
      security:
        - bearerAuth: []
      parameters:
        - name: sponsor_id
          in: path
          required: true
          description: Sponsor identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SponsorVerificationRequest'
      responses:
        '200':
          description: Updated sponsor profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Sponsor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/sponsors/{sponsor_id}/transactions:
    get:
      tags: [admin]
      summary: List sponsor credit transactions (admin)
      description: Return credit transactions for a sponsor, including totals.
      security:
        - bearerAuth: []
      parameters:
        - name: sponsor_id
          in: path
          required: true
          description: Sponsor identifier
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of transactions to return (1-500)
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 500
        - name: offset
          in: query
          required: false
          description: Number of transactions to skip before returning results
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Sponsor credit transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCreditTransactionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Sponsor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/sponsors/{sponsor_id}/credits/adjust:
    post:
      tags: [admin]
      summary: Adjust sponsor credits (admin)
      description: Add or remove credits for a sponsor with an admin-adjustment transaction.
      security:
        - bearerAuth: []
      parameters:
        - name: sponsor_id
          in: path
          required: true
          description: Sponsor identifier
          schema:
            type: string
        - name: amount
          in: query
          required: true
          description: Amount to adjust (positive or negative)
          schema:
            type: integer
        - name: description
          in: query
          required: true
          description: Reason for the adjustment
          schema:
            type: string
      responses:
        '200':
          description: Credits adjusted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustCreditsResponse'
        '400':
          description: Invalid request or would result in negative balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Sponsor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/sponsors/{sponsor_id}/credits/refund:
    post:
      tags: [admin]
      summary: Refund sponsor payment (admin)
      description: Create a Stripe refund and deduct credits from the sponsor.
      security:
        - bearerAuth: []
      parameters:
        - name: sponsor_id
          in: path
          required: true
          description: Sponsor identifier
          schema:
            type: string
        - name: payment_intent_id
          in: query
          required: true
          description: Stripe Payment Intent ID to refund
          schema:
            type: string
        - name: amount_credits
          in: query
          required: true
          description: Number of credits to refund
          schema:
            type: integer
            minimum: 1
        - name: reason
          in: query
          required: true
          description: Reason for refund
          schema:
            type: string
      responses:
        '200':
          description: Refund processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
        '400':
          description: Invalid request or insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Sponsor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Stripe not configured or library missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    SubmissionWindowClosed:
      description: Submission window closed (22:00–06:00 JST)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            windowClosed:
              value:
                detail: Submissions are closed between 22:00 and 06:00 JST
  schemas:
    WorkCreate:
      type: object
      required:
        - theme_id
        - text
      properties:
        theme_id:
          type: string
          description: Theme identifier to respond to
        text:
          type: string
          maxLength: 40
          minLength: 1
          description: >
            Lower verse (下の句) text, ideally 7-7 syllables to continue the theme's upper verse.
            Limited to 40 characters. User creativity is respected; syllable validation is not enforced
    Work:
      type: object
      required:
        - id
        - user_id
        - theme_id
        - text
        - created_at
        - likes_count
        - display_name
      properties:
        id:
          type: string
        user_id:
          type: string
        theme_id:
          type: string
        text:
          type: string
          maxLength: 40
          description: Lower verse (下の句) text
        created_at:
          type: string
          format: date-time
        likes_count:
          type: integer
          minimum: 0
        display_name:
          type: string
          description: Display name of the author
    WorkLikeResponse:
      type: object
      required:
        - status
        - likes_count
      properties:
        status:
          type: string
          enum: [liked]
        likes_count:
          type: integer
          minimum: 0
    WorkImpressionRequest:
      type: object
      properties:
        viewer_hash:
          type: string
          description: Optional SHA-256 hash representing the viewer (hex encoded)
          minLength: 64
          maxLength: 64
          pattern: '^[0-9a-fA-F]{64}$'
        count:
          type: integer
          description: Number of impressions to add for this event
          default: 1
          minimum: 1
          maximum: 20
    WorkImpressionResponse:
      type: object
      required:
        - status
        - impressions_count
        - unique_viewers_count
      properties:
        status:
          type: string
          enum: [recorded]
        impressions_count:
          type: integer
          minimum: 0
        unique_viewers_count:
          type: integer
          minimum: 0
          description: Approximate unique viewer count derived from hashed identifiers
    WorkDateSummary:
      type: object
      required:
        - date
        - works_count
        - total_likes
      properties:
        date:
          type: string
          format: date
          description: Theme date in JST
        works_count:
          type: integer
          minimum: 0
        total_likes:
          type: integer
          minimum: 0
    SignUpRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 128
        display_name:
          type: string
          maxLength: 80
    SessionToken:
      type: object
      required:
        - access_token
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
          nullable: true
        token_type:
          type: string
          enum: [bearer]
        expires_in:
          type: integer
          nullable: true
    PasswordResetRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
    PasswordResetResponse:
      type: object
      properties:
        message:
          type: string
          example: パスワード再設定メールを送信しました
    UpdatePasswordRequest:
      type: object
      required:
        - new_password
      properties:
        new_password:
          type: string
          minLength: 8
          maxLength: 128
    UpdatePasswordResponse:
      type: object
      properties:
        message:
          type: string
          example: パスワードを更新しました
    UpdateProfileRequest:
      type: object
      properties:
        display_name:
          type: string
          maxLength: 80
          minLength: 1
          description: New display name for the user
        birth_year:
          type: integer
          minimum: 1900
          maximum: 2025
          description: Year of birth (optional)
        prefecture:
          type: string
          maxLength: 50
          description: Prefecture name
        device_info:
          type: object
          nullable: true
          description: Device metadata payload
        analytics_opt_out:
          type: boolean
          description: Disable analytics tracking
        notify_theme_release:
          type: boolean
          description: Enable or disable 06:00 theme release notifications
        notify_ranking_result:
          type: boolean
          description: Enable or disable 22:00 ranking result notifications
    VerifyTokenAndUpdatePasswordRequest:
      type: object
      required:
        - access_token
        - new_password
      properties:
        access_token:
          type: string
          minLength: 1
        new_password:
          type: string
          minLength: 8
          maxLength: 128
    OAuthUrlResponse:
      type: object
      required:
        - url
        - provider
      properties:
        url:
          type: string
          format: uri
          description: OAuth authorization URL to redirect the user to
        provider:
          type: string
          enum: [google, apple]
          description: OAuth provider name
    OAuthCallbackRequest:
      type: object
      required:
        - access_token
      properties:
        access_token:
          type: string
          minLength: 1
          description: Access token from OAuth callback
        refresh_token:
          type: string
          description: Optional refresh token from OAuth callback
    OAuthCallbackResponse:
      type: object
      required:
        - user_id
        - email
      properties:
        user_id:
          type: string
        email:
          type: string
          format: email
        display_name:
          type: string
          nullable: true
        session:
          $ref: '#/components/schemas/SessionToken'
    SignUpResponse:
      type: object
      required:
        - user_id
        - email
      properties:
        user_id:
          type: string
        email:
          type: string
          format: email
        display_name:
          type: string
          nullable: true
        session:
          $ref: '#/components/schemas/SessionToken'
    UserProfileResponse:
      type: object
      required:
        - user_id
        - email
      properties:
        user_id:
          type: string
        email:
          type: string
          format: email
        display_name:
          type: string
          nullable: true
        birth_year:
          type: integer
          nullable: true
          minimum: 1900
          maximum: 2025
        prefecture:
          type: string
          nullable: true
        device_info:
          type: object
          nullable: true
          description: Device metadata reported by the client
        analytics_opt_out:
          type: boolean
          default: false
          description: User opted out of analytics tracking
        notify_theme_release:
          type: boolean
          default: true
          description: Receive 06:00 theme release notifications
        notify_ranking_result:
          type: boolean
          default: true
          description: Receive 22:00 ranking result notifications
    RankingEntry:
      type: object
      required:
        - rank
        - work_id
        - score
        - display_name
        - text
      properties:
        rank:
          type: integer
          minimum: 1
        work_id:
          type: string
        score:
          type: number
          description: Time-normalized fairness score (higher is better)
        display_name:
          type: string
          description: Display name of the author
        text:
          type: string
    ThemeResponse:
      type: object
      required:
        - id
        - text
        - category
        - date
        - sponsored
        - created_at
      properties:
        id:
          type: string
          format: uuid
        text:
          type: string
          description: >
            Theme text (upper verse / 上の句) in 5-7-5 syllable format.
            Users will create lower verses (7-7) to complete the tanka
        category:
          type: string
          description: Theme category
          example: 恋愛
        date:
          type: string
          format: date
          description: Date this theme is for (YYYY-MM-DD)
        sponsored:
          type: boolean
          description: Whether this is a sponsored theme
        created_at:
          type: string
          format: date-time
          description: Timestamp when theme was created
    ThemeListResponse:
      type: object
      required:
        - themes
        - count
      properties:
        themes:
          type: array
          items:
            $ref: '#/components/schemas/ThemeResponse'
        count:
          type: integer
          description: Number of themes returned in this response (page size), not total dataset size
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
    ThemeCalendarDay:
      type: object
      required:
        - date
        - category
        - has_approved_theme
        - is_sponsored
      properties:
        date:
          type: string
          format: date
          description: Date for this calendar entry
        category:
          type: string
          description: Theme category
        has_approved_theme:
          type: boolean
          description: Whether an approved theme exists for this date/category
        is_sponsored:
          type: boolean
          description: Whether the approved theme is a sponsored theme
    ThemeCalendarResponse:
      type: object
      required:
        - days
        - start_date
        - end_date
      properties:
        days:
          type: array
          items:
            $ref: '#/components/schemas/ThemeCalendarDay'
          description: Calendar entries for all dates and categories in the range
        start_date:
          type: string
          format: date
          description: Start of the calendar range
        end_date:
          type: string
          format: date
          description: End of the calendar range
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 128
    LoginResponse:
      type: object
      required:
        - user_id
        - email
      properties:
        user_id:
          type: string
        email:
          type: string
          format: email
        display_name:
          type: string
          nullable: true
        session:
          $ref: '#/components/schemas/SessionToken'
    RefreshTokenRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          minLength: 1
    NotificationTokenRequest:
      type: object
      required:
        - expo_push_token
      properties:
        expo_push_token:
          type: string
          minLength: 10
          maxLength: 255
          description: ExponentPushToken[...] value from Expo SDK
        device_id:
          type: string
          nullable: true
        platform:
          type: string
          nullable: true
        app_version:
          type: string
          nullable: true
    NotificationTokenResponse:
      type: object
      required:
        - id
        - expo_push_token
        - is_active
        - last_registered_at
      properties:
        id:
          type: string
        expo_push_token:
          type: string
        device_id:
          type: string
          nullable: true
        platform:
          type: string
          nullable: true
        app_version:
          type: string
          nullable: true
        is_active:
          type: boolean
        last_registered_at:
          type: string
          format: date-time
    SponsorCreate:
      type: object
      required:
        - company_name
      properties:
        company_name:
          type: string
          minLength: 1
          maxLength: 200
        contact_email:
          type: string
          format: email
          nullable: true
        official_url:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
    SponsorUpdate:
      type: object
      properties:
        company_name:
          type: string
          minLength: 1
          maxLength: 200
        contact_email:
          type: string
          format: email
          nullable: true
        official_url:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
    SponsorResponse:
      type: object
      required:
        - id
        - company_name
        - verified
        - credits
        - created_at
        - updated_at
      properties:
        id:
          type: string
        company_name:
          type: string
        contact_email:
          type: string
          format: email
          nullable: true
        official_url:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
        verified:
          type: boolean
        credits:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SponsorListResponse:
      type: object
      required:
        - sponsors
        - total
      properties:
        sponsors:
          type: array
          items:
            $ref: '#/components/schemas/SponsorResponse'
        total:
          type: integer
    CampaignTargeting:
      type: object
      properties:
        region:
          type: array
          items:
            type: string
        age_band:
          type: array
          items:
            type: string
        os:
          type: array
          items:
            type: string
    CampaignCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        budget:
          type: number
          nullable: true
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        targeting:
          $ref: '#/components/schemas/CampaignTargeting'
    CampaignUpdate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        status:
          type: string
          pattern: '^(draft|active|paused|completed|cancelled)$'
        budget:
          type: number
          nullable: true
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        targeting:
          $ref: '#/components/schemas/CampaignTargeting'
    CampaignResponse:
      type: object
      required:
        - id
        - sponsor_id
        - name
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
        sponsor_id:
          type: string
        name:
          type: string
        status:
          type: string
        budget:
          type: number
          nullable: true
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        targeting:
          $ref: '#/components/schemas/CampaignTargeting'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CampaignListResponse:
      type: object
      required:
        - campaigns
        - total
      properties:
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/CampaignResponse'
        total:
          type: integer
    SponsorThemeCreate:
      type: object
      required:
        - date
        - category
        - text_575
      properties:
        campaign_id:
          type: string
          nullable: true
          description: Optional campaign ID (defaults to the active campaign)
        date:
          type: string
          format: date
        category:
          type: string
          minLength: 1
          maxLength: 50
        text_575:
          type: string
          minLength: 3
          maxLength: 140
          description: Upper verse (5-7-5) text
        priority:
          type: integer
          default: 0
    SponsorThemeUpdate:
      type: object
      properties:
        date:
          type: string
          format: date
        category:
          type: string
          minLength: 1
          maxLength: 50
        text_575:
          type: string
          minLength: 3
          maxLength: 140
        priority:
          type: integer
    SponsorThemeResponse:
      type: object
      required:
        - id
        - campaign_id
        - date
        - category
        - text_575
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
        campaign_id:
          type: string
        date:
          type: string
          format: date
        category:
          type: string
        text_575:
          type: string
        priority:
          type: integer
        status:
          type: string
        rejection_reason:
          type: string
          nullable: true
        approved_at:
          type: string
          format: date-time
          nullable: true
        approved_by:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SponsorThemeListResponse:
      type: object
      required:
        - themes
        - total
      properties:
        themes:
          type: array
          items:
            $ref: '#/components/schemas/SponsorThemeResponse'
        total:
          type: integer
    SponsorVerificationRequest:
      type: object
      required:
        - verified
      properties:
        verified:
          type: boolean
    CreditTransaction:
      type: object
      required:
        - id
        - sponsor_id
        - amount
        - transaction_type
        - created_at
      properties:
        id:
          type: string
        sponsor_id:
          type: string
        amount:
          type: integer
        transaction_type:
          type: string
          description: purchase/use/refund/admin_adjustment
        description:
          type: string
          nullable: true
        stripe_payment_intent_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
    AdminCreditTransactionsResponse:
      type: object
      required:
        - transactions
        - total
        - sponsor
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/CreditTransaction'
        total:
          type: integer
        sponsor:
          type: object
          required:
            - id
            - company_name
            - current_credits
          properties:
            id:
              type: string
            company_name:
              type: string
            current_credits:
              type: integer
    AdjustCreditsResponse:
      type: object
      required:
        - transaction
        - new_balance
        - message
      properties:
        transaction:
          $ref: '#/components/schemas/CreditTransaction'
        new_balance:
          type: integer
        message:
          type: string
    RefundResponse:
      type: object
      required:
        - transaction
        - stripe_refund_id
        - refund_amount_jpy
        - new_balance
        - message
      properties:
        transaction:
          $ref: '#/components/schemas/CreditTransaction'
        stripe_refund_id:
          type: string
        refund_amount_jpy:
          type: integer
        new_balance:
          type: integer
        message:
          type: string
    CreditPurchaseCreate:
      type: object
      required:
        - quantity
        - success_url
        - cancel_url
      properties:
        quantity:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of credits to purchase
        success_url:
          type: string
          description: URL to redirect after successful payment
        cancel_url:
          type: string
          description: URL to redirect if payment is cancelled
    CreditPurchaseSessionResponse:
      type: object
      required:
        - session_id
        - url
      properties:
        session_id:
          type: string
          description: Stripe Checkout Session ID
        url:
          type: string
          description: URL to redirect user to Stripe Checkout
